{% extends 'base.html' %}

{% block title %}Profiles{% endblock %}

{% block content %}
{% include 'partial/navbar.html' %}
<div style="margin: 25px">
	<h1>Profiles Page</h1>
	<br>
	<a href="{{ url_for('profiles.register_profile') }}">
		<button type="button" class="btn btn-primary">New Profile</button>
	</a>
	<br><br>
	{% for profile in profiles %}
	<div class="card" style="width: 25rem;">
		<div class="card-body">
			<h5 class="card-title">{{ profile.name }}</h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">E-Mail: {{ profile.email }}</li>
				<li class="list-group-item">Age: {{ profile.age }}</li>
				<li class="list-group-item">Address: {{ profile.address }}</li>
				<li class="list-group-item">Sex: {{ profile.sex }}</li>
			</ul>
		</div>
	</div>
	<br>
	{% endfor %}
</div>
{% endblock %}
